<div class="main">

<div class="devise_main">
<h2 class="heading">新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nickname, "ニックネーム(必須)", class:"label" %><br />
    <%= f.text_field :nickname, class:"field_new" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス(必須)", class:"label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"field_new" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード(必須)", class:"label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"field_new" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード確認(必須)", class:"label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"field_new" %>
  </div>

  <div class="field">
    <%= f.label :birthday, "誕生日", class:"label" %><br />
    <div class="field_new date_select">
      <%= f.date_select :birthday %>
    </div>
  </div>

  <div class="field">
    <%= f.label :gender, "性別", class:"label" %><br />
    <div class="field_new gender_select">
      <%= f.select :gender, options_for_select([["男性", 1], ["女性", 2], ["その他", 3]]), include_blank: true %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "登録", class:"submit_btn"  %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %><br>
<%= link_to "戻る", "javascript:history.back();"%>


</div>