<% if current_user&.admin? %>
  <div class="main">
    <div class="result_search">
    申請中の飲食店一覧
      <ul>
        <% @restaurants.each do |restaurant| %>
          <%= render partial: "restaurants", locals: { restaurant: restaurant } %>
        <% end %>
      </ul>
    </div>
  </div>

<% else %>

<div class="main">

  <% unless params[:q].present? %>

    <div class="hero" id="initial-search-form">
      <%= image_tag "sekaichizu.png", class: "world_map" %>

      <div class="hero_search" >
        <%= search_form_for @q do |f| %>
            <!-- 国・地域の絞り込み -->
            <div class="country_field_with_button">
              <div class="label_top"><%= f.label :countries_name_or_countries_region_cont, "行きたい国や地域名を入力", class: "label"%></div>
              <div class="input_and_button">
                <%= f.search_field :countries_name_or_countries_region_cont, class: "search-field" %>
                <!-- 検索ボタン -->
                <%= button_tag "次へ", class:"submit_btn", id: "initial-submit-btn" %>
              </div>
            </div>
        <% end %>
      </div>
    </div>

      <!-- 追加の検索フィールド。初期状態では非表示 -->
      <div id="advanced-search-fields" style="display: none;">
        <%= search_form_for @q do |f| %>
          <!-- hidden_fieldで国名の値を引き継ぐ -->
          <%= f.hidden_field :countries_name_or_countries_region_cont, id: "hidden-country-field" %>

          <!-- ジャンルの絞り込み -->
          <div class="field">
            <div class="label_top"><%= f.label :genres_id_in, "ジャンルで絞り込む", class: "label"%></div>
            <% Genre.all.each do |genre| %>
              <div class="checkbox_genres">
                <%= check_box_tag "q[genre_ids_in][]", genre.id, params.dig(:q, :genre_ids_in)&.include?(genre.id.to_s), class: "genre-checkbox-input" %>
                <%= label_tag "restaurant_genre_ids_#{genre.id}", genre.name, class: "genre-checkbox-label" %>
              </div>
            <% end %>
          </div><br>

          <!-- 利用シーンの絞り込み -->
          <div class="field">
            <div class="label_top"><%= f.label :situations_id_in, "利用シーンで絞り込む", class: "label"%></div>
            <% grouped_situations = Situation.all.group_by(&:item) %>
            <% grouped_situations.each do |item, situations| %>
              <div class="item">
                <div class="situation_item"><%= item %></div>
                <div>
                  <% situations.each do |situation| %>
                    <div class="checkbox_situations">
                      <%= check_box_tag "q[situation_ids_in][]", situation.id, params.dig(:q, :situation_ids_in)&.include?(situation.id.to_s), class: "situation-checkbox-input" %>
                      <%= label_tag "restaurant_situation_ids_#{situation.id}", situation.name, class: "situation-checkbox-label" %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div><br><br>

          <!-- 住所での絞り込み -->
          <div class="field">
            <div class="label_top"><%= f.label :address_cont, "住所で絞り込む", class: "label" %></div>
            <%= f.search_field :address_cont %>
          </div>

          <div class="actions">
            <%= f.submit "検索", class:"submit_btn"%>
          </div>
        <% end %>
      </div>

  <% end %>

  <% if params[:q].present? %>
    <div class="result_search">
      検索結果一覧
      <ul>
        <% @restaurants.each do |restaurant| %>
          <%= render partial: "restaurants", locals: { restaurant: restaurant } %>
        <% end %>
      </ul>
    </div>
    
    <%= link_to "検索画面に戻る", root_path, class:"link_to_root"%>
  <% end %>

</div>
<% end %>