

<% unless params[:q].present? %>
<div class="main">
  <%= search_form_for @q, html: { id: "initial-search-form" } do |f| %>
    <!-- 国・地域の絞り込み -->
    <div class="country_field">
      <%= f.label :countries_name_or_countries_region_cont, "国名または地域名で検索", class: "label"%><br>
      <%= f.search_field :countries_name_or_countries_region_cont, class: "search-field" %>
    </div><br>

    <!-- 検索ボタン -->
    <div class="actions">
      <%= button_tag "次へ", class:"submit_btn", id: "initial-submit-btn" %>
    </div>
  <% end %>

    <!-- 追加の検索フィールド。初期状態では非表示 -->
    <div id="advanced-search-fields" style="display: none;">
      <%= search_form_for @q do |f| %>
        <!-- hidden_fieldで国名の値を引き継ぐ -->
        <%= f.hidden_field :countries_name_or_countries_region_cont, id: "hidden-country-field" %>

        <!-- ジャンルの絞り込み -->
        <div class="field">
          <%= f.label :genres_id_in, "ジャンルで絞り込む", class: "label"%><br>
          <% Genre.all.each do |genre| %>
            <div class="checkbox_genres">
              <%= check_box_tag "q[genre_ids_in][]", genre.id, params.dig(:q, :genre_ids_in)&.include?(genre.id.to_s), class: "genre-checkbox-input" %>
              <%= label_tag "restaurant_genre_ids_#{genre.id}", genre.name, class: "genre-checkbox-label" %>
            </div>
          <% end %>
        </div><br>

        <!-- 利用シーンの絞り込み -->
        <div class="field">
          <%= f.label :situations_id_in, "利用シーンで絞り込む", class: "label"%><br>
          <% grouped_situations = Situation.all.group_by(&:item) %>
          <% grouped_situations.each do |item, situations| %>
            <div class="item">
              <div class="situation_item"><%= item %></div>
              <div>
                <% situations.each do |situation| %>
                  <div class="checkbox_situations">
                    <%= check_box_tag "q[situation_ids_in][]", situation.id, params.dig(:q, :situation_ids_in)&.include?(situation.id.to_s), class: "situation-checkbox-input" %>
                    <%= label_tag "restaurant_situation_ids_#{situation.id}", situation.name, class: "situation-checkbox-label" %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div><br><br>

        <!-- 住所での絞り込み -->
        <div class="field">
          <%= f.label :address_cont, "住所で絞り込む", class: "label" %><br>
          <%= f.search_field :address_cont %>
        </div>

        <div class="actions">
          <%= f.submit "検索", class:"submit_btn"%>
        </div>
      <% end %>
    </div>
</div>

<% end %>

<% if params[:q].present? %>
  <div class="result_search">
    検索結果一覧
    <ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant.id) %><br>

      <% if restaurant.images.attached? %>
        <!-- ActiveStorage画像を表示 -->
        <% restaurant.images.each do |image| %>
          <%= image_tag image.variant(resize: '200x200') %>
        <% end %>
      <% else %>
        <!-- Google Places API画像を表示 -->
        <% JSON.parse(restaurant.api_image_urls || '[]').each do |url| %>
          <%= image_tag url, size: '200x200' %>
        <% end %>
      <% end %>

      <br>
      住所：<%= restaurant.address %><br>
      アクセス：<%= restaurant.access %><br>
      電話番号：<%= restaurant.phone_num %><br>
      提供料理の国名：
      <% restaurant.countries.each do |country| %>
        <span class="country_name"><%= country.name %></span>
      <% end %>
    </li><br><br>
  <% end %>
</ul>

    <%= link_to "検索画面に戻る" %>
  </div>
<% end %>