
<div class="main">
  <h1 class="heading">新規店舗登録</h1>

  <%= form_with model:@restaurant, local: true, class:"form_new" do |f| %>
    <div class="search_new">
      <%= f.label :images, "イメージ写真(複数可)", class:"label"%><br>
      <%= f.file_field :images, multiple: true %>
    </div><br>

    <div class="search_new">
      <%= f.label :name, "店名", class:"label"%><br>
      <%= f.text_field :name, class:"field_new" %>
    </div><br>

    <div class="search_new">
      <%= f.label :address, "住所", class:"label"%><br>
      <%= f.text_field :address, class:"field_new" %>
    </div><br>

    <div class="search_new">
      <%= f.label :access, "アクセス", class:"label"%><br>
      <%= f.text_field :access, class:"field_new" %>
    </div><br>

    <div class="search_new">
      <%= f.label :phone_num, "電話番号", class:"label"%><br>
      <%= f.text_field :phone_num, class:"field_new" %>
    </div><br>

    <div class="search_new">
      <%= f.label :description, "紹介文", class:"label"%><br>
      <%= f.text_field :description, class:"field_new" %>
    </div><br>

    <div class="search_new">
      <%= f.label :opening_hours, "営業時間", class:"label"%><br>
      <%= f.text_field :opening_hours, class:"field_new" %>
    </div><br>

    <div class="search_new">
      <%= f.label :website, "公式サイトURL", class:"label"%><br>
      <%= f.text_field :website, class:"field_new" %>
    </div><br>

    <div class="search_new">
      <%= f.label :payment, "支払い方法", class:"label"%><br>
      <%= f.text_field :payment, class:"field_new" %>
    </div><br>

    <div class="search_new">
      <%= f.label :country_ids, "提供料理の国名(複数選択可)", class: "label" %><br>
  
      <%# 地域ごとに国名をグループ化するためのハッシュを作成 %>
      <% grouped_countries = @countries.group_by(&:region) %>
  
      <% grouped_countries.each do |region, countries| %>
        <h4><%= region %></h4> <!-- 地域名を見出しとして表示 -->
        <div>
          <% countries.each do |country| %>
            <div class= "checkbox_new">
              <%= check_box_tag "restaurant[country_ids][]", country.id, f.object.country_ids.include?(country.id) %>
              <%= country.name %> <!-- 国名を表示 -->
            </div>
          <% end %>
        </div>
      <% end %>
        </div><br>

    <div class="search_new">
      <%= f.label :genre_ids, "提供料理のジャンル(複数選択可)", class: "label" %><br>
      <% @genres.each do |genre| %>
        <div class="checkbox_new" >
          <%= check_box_tag "restaurant[genre_ids][]", genre.id, f.object.genre_ids.include?(genre.id), class: "genre-checkbox-input" %>
          <%= label_tag "restaurant_genre_ids_#{genre.id}", genre.name, class: "genre-checkbox-label" %> <!-- ラベルのクラスも追加 -->
        </div>
      <% end %>
    </div><br>

    <div class="search_new">
      <%= f.label :situation_ids, "利用シーン・雰囲気等(複数選択可)", class:"label"%><br>
      <% @situations.each do |situation| %>
        <div class="checkbox_new" >
          <%= check_box_tag "restaurant[situation_ids][]", situation.id, f.object.situation_ids.include?(situation.id), class: "situation-checkbox-input" %>
          <%= label_tag "restaurant_situation_ids_#{situation.id}", situation.name, class: "situation-checkbox-label" %> <!-- ラベルのクラスも追加 -->
        </div>
      <% end %>
    </div><br>

    <div class="actions">
      <%= f.submit "登録する", class:"submit_btn" %>
    </div>

  <% end %>

  <%= link_to "戻る", restaurants_path%>

</div>