<div class="main">

  <div class="restaurant">
  <h3><%= @restaurant.name %></h3><br><br>


  <% if @restaurant.images.attached? %>
    <!-- ActiveStorage画像を表示 -->
    <% @restaurant.images.each do |image| %>
      <%= image_tag image.variant(resize: '200x200') %>
    <% end %>
  <% else %>
    <!-- Google Places API画像を表示 -->
    <% JSON.parse(@restaurant.api_image_urls || '[]').each do |url| %>
      <%= image_tag url, size: '200x200' %>
    <% end %>
  <% end %><br><br>

  <div class="description">
    <%= @restaurant.description %>
  </div><br><br>

  <div class="info">
    <div>
      住所：<%= @restaurant.address %>
    </div><br>

    <div>
      電話番号:<%= @restaurant.phone_num %>
    </div><br>

    <div>
      アクセス:<%= @restaurant.access %>
    </div><br>

    <div>
      営業時間:
      <% @restaurant.opening_hours.split(', ').each do |hour| %>
        <div><%= hour %></div>
      <% end %>
    </div><br>

    <div>
      公式サイト:<%= @restaurant.website %>
    </div><br>

    <div>
      支払い方法:<%= @restaurant.payment %>
    </div><br><br><br>

    <div>
      提供料理の国名：
      <% @restaurant.countries.each do |country| %>
        <span class="features"><%= country.name %></span>
      <% end %>
    </div><br>

    <div>
      ジャンル：
      <% @restaurant.genres.each do |genre| %>
        <span class="features"><%= genre.name %></span>
      <% end %>
    </div><br>

    <div>
      利用シーン：
      <% @restaurant.situations.each do |situation| %>
        <span class="features"><%= situation.name %></span>
      <% end %>
    </div><br>
  </div>

  <% if user_signed_in? %>
    <%= link_to "編集する", edit_restaurant_path(@restaurant.id)%><br>
    <%= link_to "削除する", restaurant_path(@restaurant.id), data: { turbo_method: :delete } %><br>
  <% end %>
  
  <%= link_to "戻る", restaurants_path%>

</div>